body {
    text-align: center;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    background: #4D4D4D;
    color: #666666;
    margin: 0;
    padding: 15px 0 0 0;
}


#photo {
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
}

p, h2 {
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #D58900;
}
